.one {
    background-color: aqua;
    color: blueviolet;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;

}
@font-face {
    font-family: "AlexBrush-Regular";
    src: url("")
}
.two {
    font-family: 

}
