.one {
    background-color: aqua;
    color: blueviolet;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: italic;
    text-transform: capitalize;
    text-decoration: none;
    word-spacing: 0.2em;
    
}
@font-face {
    font-family: "AlexBrush-Regular";
    src: url("fonts/AlexBrush-Regular.ttf")
}
.two {
    font-family: 'AlexBrush-Regular';
    font-size: 150%;
    line-height: 1.5em;
    letter-spacing: 0.5em;
    text-align: justify;
    vertical-align: super
}
